<div class="modal-header">
  <h4 class="modal-title">{{title}}</h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>

<div class="modal-body">
  <p>{{body}}</p>

  <!-- Campo para la contraseña actual -->
  <div class="input-group my-2">
    <input id="currentPassword" type="password" placeholder="Contraseña actual" class="form-control" [(ngModel)]="currentPassword">
    <span class="input-group-btn">
      <button class="reveal form-control" type="button" (click)="togglePassword('currentPassword')">
        <i class="bi bi-eye-slash-fill"></i>
      </button>
    </span>
  </div>

  <!-- Campo para la nueva contraseña -->
  <div class="input-group my-2">
    <input id="newPassword" type="password" placeholder="Nueva contraseña" class="form-control" [(ngModel)]="newPassword">
    <span class="input-group-btn">
      <button class="reveal form-control" type="button" (click)="togglePassword('newPassword')">
        <i class="bi bi-eye-slash-fill"></i>
      </button>
    </span>
  </div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="reject()">Cancelar</button>
  <button type="button" class="btn btn-primary" [disabled]="!currentPassword || !newPassword" (click)="changePassword()">
    Cambiar contraseña
  </button>
</div>
